<p id="notice"><%= notice %></p>

<h1 class="my-5 text-center">Pets</h1>

<% @pets.each do |pet| %>
<div class="row">
  <div class="col-4 text-left">
    <h3 class="mb-4">
      <strong>Name:</strong>
      <%= pet.name %>
    </h3>

    <h5>
      <strong>Breed:</strong>
      <%= pet.breed %>
    </h5>

    <h5>
      <strong>Birthdate:</strong>
      <%= pet.birthdate %>
    </h5>

    <p class="mb-5">
      <strong>Visits:</strong>
      <%= pet.historyCount %>
    </p>
  </div>
  <div class="col-6">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>Weight</th>
          <th>Heigth</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% pet.pet_histories.each do |pet_history| %>
        <tr>
          <td><%= pet_history.weight %></td>
          <td><%= pet_history.heigth %></td>
          <td><%= pet_history.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-2 btn-group-vertical noflex">
    <%= link_to 'Show', client_pet_path(@client, pet), :class => "btn btn-light" %> 
    <%= link_to 'History', client_pet_pet_histories_path(@client, pet), :class => "btn btn-light" %>
    <%= link_to 'Edit', edit_client_pet_path(@client, pet), :class => "btn btn-info" %>
    <%= link_to 'Destroy', client_pet_path(@client, pet), :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>
<hr>
<div class="text-right">
  <%= link_to 'New Pet', new_client_pet_path, :class => "btn btn-primary" %>
  <%= link_to 'Back To Clients List', clients_path, :class => "btn btn-dark btn-sm" %>
</div>
