<div class="row my-5">
  <div class="col-4 text-left">
    <h3 class="mb-4">
      <strong>Name:</strong>
      <%= @pet.name %>
    </h3>

    <h5>
      <strong>Breed:</strong>
      <%= @pet.breed %>
    </h5>

    <h5>
      <strong>Birthdate:</strong>
      <%= @pet.birthdate %>
    </h5>

    <p class="mb-5">
      <strong>Visits:</strong>
      <%= @pet.historyCount %>
    </p>
  </div>
  <div class="col-6 text-center">
    <div>
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Average Weight</th>
            <th>Average Heigth</th>
            <th>Max Weight</th>
            <th>Max Height</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @pet.avgWeight %></td>
            <td><%= @pet.avgHeight %></td>
            <td><%= @pet.maxWeight %></td>
            <td><%= @pet.maxHeight%></td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div>
    <h3>History</h3>
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Weight</th>
            <th>Heigth</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @pet.pet_histories.each do |pet_history| %>
            <tr>
              <td><%= pet_history.weight %></td>
              <td><%= pet_history.heigth %></td>
              <td><%= pet_history.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_client_pet_path(@client), :class => "btn btn-success form-control" %>
<%= link_to 'Back', client_pets_path, :class => "btn btn-light form-control" %>
